*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 1px 1px #eee;
}

.nav span{
    padding: 20px
}
.nav span:hover{
    cursor: pointer;
    color: #666
}